@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;1,900&display=swap');


* { 
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.app {
    width: 37.5rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.05;
    text-align: left;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.05;
    text-align: center;
}   

h3 {
    margin: 0.625rem;
}

p {
    font-size: 1.125rem;
    line-height: 1.2;
}

.question-block-title {
    width: 37.5rem;
    height: 13.125rem;
    background-color: rgb(102, 69, 221);
    border-radius: 0.313rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.answer-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.answer-option {
    border: none;
    width: 17.875rem;
    overflow: hidden;
    background-color: white;
    border-radius: 0.313rem;
    box-shadow: rgb(0,0,0,0.07) 0 0 0 0.063rem;
    margin-bottom: 0.938rem;
    padding: 0;
}

.answer-option p {
    font-size: 0.8rem;
    font-style: italic;
}

.answer-option a {
    text-decoration: none;
    color: grey;
}

.result-block {
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: none;
    box-shadow: rgb(0, 0, 0, 0.07) 0 0 0 0.063rem;
    background-color: rgb(102, 69, 221);
    border-radius: 0.313rem;
}

.result-block img {
    width: auto;
    border: 0.313rem solid white;
    border-radius: 0.313rem;
    padding: none;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}